@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #131719;
}

body {
    padding: 16px;
    margin: 0;

    color: rgb(237, 240, 243);
    font-family: Times New Roman, Times, serif, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
select,
button {
    background: #454a4d;
    color: rgb(237, 240, 243);
    outline: none;
    border: none;
}

code {
    font-family: Times New Roman, Times, serif, source-code-pro, Menlo, Monaco,
        Consolas, 'Courier New', monospace;
}

.custom-tooltip-container {
    position: absolute;
    width: 375px;
    top: 0;
    left: 0;
    /* height: 800px; */
    z-index: 9999;
    overflow: visible;
    /* overflow: hidden; */
    pointer-events: none;
    /* transition: opacity 1s; */
}

.custom-tooltip {
    padding: 10px;
    background-color: rgb(25, 30, 36);
    border: 1px solid rgb(134, 102, 37);
    border-radius: 3px;
    pointer-events: none;
    height: 100%;
}

.custom-tooltip-inner {
    background: rgb(10, 12, 15);
    padding: 10px;
    height: 100%;
}

.custom-tooltip-container.ag-tooltip-hiding {
    opacity: 0;
}

.item-icon {
    background: #30476e url('./images/slot-empty-blue.png') no-repeat;
    width: 42px;
    height: 42px;
    z-index: 4;
}

.custom-tooltip-container.ag-tooltip-hiding {
    /* opacity: 0; */
}

.custom-tooltip p {
    margin: 5px;
    white-space: nowrap;
}

.custom-tooltip p:first-of-type {
    font-weight: bold;
}

.ag-header-cell-text {
    font-size: 12px !important;
}
